<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>file1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{100,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>file2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>file3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,32},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{30,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>v2.png</string>
            <key>size</key>
            <string>{156,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bb9d126ce006355e7092f224b272182:1/1$</string>
            <key>textureFileName</key>
            <string>v2.png</string>
        </dict>
    </dict>
</plist>
